@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

/* Reset */
*,
*::before,
*::after{box-sizing:border-box; margin: 0; padding: 0;}
a{text-decoration:none; color:inherit; cursor:pointer;}
button{background-color:transparent; color:inherit; border-width:0; padding:0; cursor:pointer;}
figure{margin:0;}
input::-moz-focus-inner {border:0; padding:0; margin:0;}
ul, ol, dd{margin:0; padding:0; list-style:none;}
h1, h2, h3, h4, h5, h6{margin:0; font-size:inherit; font-weight:inherit;}
p{margin:0;}
cite {font-style:normal;}
fieldset{border-width:0; padding:0; margin:0;}


body {
    background-color: #43cd80;
    font-family: 'Noto Sans KR', sans-serif;
}

/* Header */
header {
    background: black;
    color: #43cd80;
    padding: 1rem; 
    position: fixed;
    z-index:1;
    top: 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.navbar {
    display: flex;
    justify-content: space-evenly;
}

.navbar a {
    padding: 1rem;
}

.navbar a:hover {
    color: white;
}

h1 {
    font-size: 3rem;
    font-weight: bold;
    color:white;
    padding: 0 1rem;
}

/* Main */
main {
    width: 100%;
    display: flex; 
    flex-flow: row wrap;
}

.main-view {
    width: 100%;
}

.all-screen {
    height: 100vh;
    padding-top: 102px;
    display: flex;
    align-items: center;
}

section {
    padding: 3rem;
    margin: auto;
    line-height: 2rem;
    width: 70%;
    position: relative;
    background-color: white;
    border-radius: 2rem;
    text-align: center;
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12)
}

section p {
    font-size: 1rem;
}

h2 {
    font-size: 1.9rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 1.5rem;
}

.lock {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: 1.8rem;
    color: rgba(0, 0, 0, 0.086),
}

.link-green {
    color: #43cd80;
    font-weight: bold;
}

ol {
    list-style-type: decimal;
    display: inline-block;
    margin: auto;
    text-align: justify;
}

.encode-text {
    color: #43cd80;
} 

.decode-text {
    color:  #FF5050;
}

.restart-text {
    color: #FFC000;
}

.button-try {
    color: white;
    background-color: #43cd80;
    width: fit-content;
    margin: 1rem auto 0rem;
    border-radius: 0.5rem;
}

.button-try a {
    width: 100%;
    padding: 1.5rem;
    font-size: 1.1rem;
}

.top-grid {
    display: grid;
    grid-template-areas: 'box-top key'
    'box-top encode'
    'box-top decode'
    'box-top restart';
    justify-content: center;
    gap: 10px;
    margin: 1.5rem 0rem;
    grid-template-columns: 3.2fr 1fr;
    width: 100%;
}

.bottom-grid {
    display: grid; 
    grid-template-areas: 'box-bottom icons';
    grid-template-columns: 12fr 1fr;
    justify-content: center;
    gap: 10px;
}

.btop {
    grid-area: box-top;
    height: 180px;
}

.bbottom {
    grid-area: box-bottom;
    height: 100px;
}

.key {
    width: 90%;
    border-radius: 5px;
    outline: none;
    border:#43cd80 1px solid;
    text-align: center;
    font-size: 20px;
    -moz-appearance:textfield;
    grid-area: key;
    font-size: 0.8rem;
    justify-self: center;
}

.key::-webkit-inner-spin-button, 
.key::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.btn {
    outline: none;
    transition-duration: 0.4s; 
    justify-content: center; 
    border: none;
    width: 90%;
    padding: 0.2rem 0.7rem 0.2rem 0.2rem;
    font-weight: bold;
    border-radius: 1rem;
    font-size: 0.8rem;
}

.btn:hover {
    color: white;
    cursor: pointer;    
}

button i {
    margin: 0 0.5rem;
    color: white;
    font-size: 1rem;
}

a img {
    width: 35px;
}

.icons {
    grid-area: icons;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.encode {
    background-color: #43cd80;
    grid-area: encode;
    justify-self: center;
} 

.decode {
    background-color:  #FF5050;
    grid-area: decode;
    justify-self: center;
}

.restart {
    background-color: #FFC000;
    grid-area: restart;
    justify-self: center;
}

.box {
    background-color:whitesmoke;
    color: black;
    vertical-align: middle;
    border-radius: 20px;
    outline: none;
    font-size: 1.3rem;
    border: 1px solid #43cd80;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    resize: none;
    padding: 20px;
}

.box::-webkit-input-placeholder {
    color: rgb(85, 85, 85);
}

.right {
    display: flex;
    justify-content: flex-end;
    margin-top: 0.5rem;
}

@media only screen and (max-width: 600px) {
    header {
        padding: 0rem;
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .all-screen {
        height: 100vh;
        padding-top: 85px;
        display: flex;
        align-items: center;
    }
    
    .navbar {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
    }
    
    .navbar a {
        padding: 0.2rem 0.2rem 0.7rem 0.2rem;
        font-size: 0.7rem;
    }
    
    h1 {
        font-size: 2.3rem;
        padding: 0rem;
    }
    
    section {
     width: 90%;
     padding: 1rem;
     line-height: 1.5rem
    } 

    section p, ol li, .btn {
        font-size: 0.7rem;
    }

    h2 {
        font-size: 1.6rem;
        margin-bottom: 1.3rem;
    }
    
    .lock {
        font-size: 1rem;
    }
    
    ol {
        list-style-type: none;
        text-align: center;
    }
    
    .button-try a {
        font-size: 0.7rem;
    }

    .box {
        font-size: 1rem;
        padding: 0.7rem;
    }

    a img {
        width: 30px;
    }

    .hide {
        display: none;
    }

    .key {
        font-size: 0.7rem;
        width: fit-content;
    }

    .top-grid {
        grid-template-columns: 6fr 1fr;
        gap: 5px;
    }

    .btop {
        height: 140px;
    }

    .btn {
        width: fit-content;
        border-radius: 50%;
        padding: 0.1rem;
    }

    .right {
        font-size: 0.7rem;
    }
}